

<div class="back">
    <div class="container--form">
        <img src="../assets/account_circle_black_24dp.svg" alt="">

        <h2>LOGIN</h2>
        <form class="form">
            <div class="label-input">
                <label for="usuario">Usuario</label>
                <input id="usuario" class="form-input" type="text" placeholder="Ingrese su usuario">
            </div>
            <div class="label-input">
                <label for="contraseña">Contraseña</label>
                <input id="contraseña" class="form-input" type="password" placeholder="Ingrese su contraseña">
            </div>
          <input class="btn-registrar form-input" type="button" value="Registrar">
        </form>
      </div>
</div>