<!-- Nombre, apellido, doc, telefono, direccion, correo, genero -->


<div class="back">
    <div class="container--form">
        <h2>REGISTRO CLIENTE</h2>
        <form class="form">
          <input class="form-input" type="text" placeholder="Ingrese el nombre">
          <input class="form-input" type="text" placeholder="Ingrese el apellido">
          <input class="form-input" type="text" placeholder="Ingrese el documento">
          <input class="form-input" type="tel" placeholder="Ingrese el telefono">
          <input class="form-input" type="text" placeholder="Ingrese la direccion ">
          <input class="btn-registrar form-input" type="button" value="Registrar">
        </form>
      </div>
</div>